header {
  text-align: center;
  background-image: linear-gradient(to right, blue, purple);
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}

h2 {
  font-size: 28.5px;
  font-weight: bold;
}


input,
button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

#form-heading {
  font-size: 30px;
  font-weight: bold;
}


#search-input {
  border: 1px solid gray;
  text-transform: uppercase;
  border-radius: 5px;
}

#search-button {
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: lightblue;
}

#history p {
  background-color: rgb(135, 131, 131);
  width: 300px;
  padding: 5px 0px;
  margin-top: 10px;
  text-align: center;
  list-style: none;
  border-radius: 5px;
}

#wicon {
  margin-left: 30px;
}

.daily-list li {
  list-style: none;
}


.weather-container {
  margin-right: 5px;
}

#weather-display {
  min-width: 70%;
  padding: 10px;
  border: 2px solid black;
  margin-top: 20px;
}

#five-day-title {
  margin-top: 10px;
}

#five-day-forecast {
  display: flex;
  flex-flow: row, nowrap;
  margin-top: 10px;
}

.day-container {
  color: white;
  background-color: #393a3e;
  margin-right: 15px;
  padding: 5px 30px 5px 5px;
  text-align: left;
}

#current-uv {
  display: inline;
}

.favorable-uv {
  background-color: lightgreen;
}

.moderate-uv {
  background-color: yellow;
}

.severe-uv {
  background-color: red;
}